# Ignore folders
/Songs folder/
/Test image/
/Test Image Data/
/Train Image Data/
/myenv/
/output files/
/wandb/
output files/fer2013_processed.h5

# Ignore files
*test.ipynb
*Classified.txt
*.cache-user-library-read
*.cache
.env.local