# Ignore folders
/Songs folder/
/Test image/
/Test Image Data/
/Train Image Data/
/myenv/
/output files/
/wandb/
/__pycache__/
/.ipynb_checkpoints/

# Ignore files
*test.ipynb
*Classified.txt
*.cache-user-library-read
*.cache
.env.local